.idea/
.imi
*.class

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

**/.idea/
/第一轮八股笔记/小林pdf/
# Compiled class file
*.class

# Eclipse
.project
.classpath
.settings/

# Intellij
*.ipr
*.iml
*.iws
./.idea/

# Maven
target/

# Gradle
build
.gradle

# Log file
*.log

# out
**/out/

# BlueJ files
*.ctxt
.Src/target


